main {
  width: 100%;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
#welcome-section{
  background-color: rgba(0, 0, 128, 0.63);
/*   background: linear-gradient(25deg, rgba(0, 0, 128, 0.73), rgba(0, 0, 128, 0.33), rgba(0, 0, 128, 0.63)); */
  
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  /*border-bottom-left-radius: 34%;
  border-bottom-right-radius: 28%;*/

}

#navbar{
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 0 50px; 
}
#navbar-brand{
  font-style: italic;
  font-family: audio-wide;
  font-weight: bold;
  font-size: 20px;
  color: rgba(128, 0, 128, 0.6 );
}
#nav-links {
  padding-right: 40px;
}
#nav-links li {
  list-style-image: none;
  display: inline;
}

.navbar-link{
  text-decoration: none;
  padding: 0 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
}

.clear-top {
  padding-bottom: 15vw;
}
.profile-photo {
  margin: 0px auto ;
  border-radius: 50%;
  background-color: #ffa;
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  background: url('https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/48385533_10215944135309355_2067518014147788800_n.jpg?_nc_cat=107&_nc_ht=scontent-lht6-1.xx&oh=a31565d114520d6f5111552a9d2c194f&oe=5CA45A2E');
  background-size: cover;
}

.profile-photo:hover {
}
.profile-text{
  width: 100%
}
.profile-text h1 {
  padding-top: 10px;
  text-align: center;
  color: #fff;
}

.profile-text h1:hover {
  transform: scale(1.05);
}

#about-me {
  /*background-color: hsl(220, 30%, 50%);*/
  min-height: 400px;

}

#about-me h2, #projects h2, #contact-links h2{
  font-size: 40px;
  text-align: center;
}

#about-me h2 span, #projects h2 span, #contact-links h2 span {
  color: rgba(0, 0, 128, 0.73);
  display: block;
  font-size: 50px;
}

#project-list {
  /*width: 100%;*/
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  /*width: 20%;*/
  padding: 10px 5px; 
}

.project-title{
  color: rgba(0, 0, 128, 0.73);
  text-align: center;
}

.project-img{
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background: #ddd;
  text-align: center;
  border-radius: 20%;
}

.project-description {
  opacity: 0.01;
  margin-top: -160px;
  width: 200px;
}

.project-description:hover {
  /*margin-top: -180px;*/
  opacity: 1;
  background: rgba(180, 180, 180, 0.4);
  color: #222;
}

#contact-links{
  margin-top: 160px;
}

@media(max-width: 600px ){
  #navbar{
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 0 50px; 
}
  #welcome-section{
    padding-top: 20%;
  }
}
footer {
  text-align: center;
}
#footer-links li {
  display: inline;
  text-align: center
}
#footer-links a{
  padding: 5px;
  text-decoration: none;
  color: #00004c
}
#footer-links a:hover {
  text-decoration: underline;
  color: #0000c5;
}